// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bench{
    background: #539cdc;
    padding: 10px;
}

.files-upload{
    figure{
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
        margin: auto;
    }
}
